<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Angular Loading Button</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="angular-loading-button.css" rel="stylesheet">
  </head>
  <body ng-controller="AppController">
    <loading-button completed="completed" error="'Try again!'" success="'Cool!'" value="loaded">Try me</loading-button>

    <input class="form-control" ng-model='loaded' type="text">

    <a class="btn btn-info" href="#" ng-click="loaded = .3">.3</a>
    <a class="btn btn-success" href="#" ng-click="completed = true">Success</a>
    <a class="btn btn-danger" href="#" ng-click="completed = false">Error</a>

    <pre>{{loaded}}</pre>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="angular-loading-button.js"></script>
    <script type="text/javascript">
      angular.module('app', ['loadingButton'])
        .controller(
          'AppController',

          [
            '$log',
            '$scope',

            function(
              $log,
              $scope
            ) {
              $scope.loaded = 0;
            }
          ]
        )
      ;
    </script>
  </body>
</html>
