body {
  background-color: #FEFEFE;
}

.light-gray {
  color: #bbb;
}

.text-center {
  text-align: center;
}

.pos-absolute-center {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.info {
  margin-top: 5px;
}

[class*="m-state--"] {
  display: none;
}

.progress-button.loading .m-state--loading {
  display: inline;
}

.progress-button.success .m-state--success {
  display: inline;
}

.progress-button.error .m-state--error {
  display: inline;
}

.actions {
  margin-top: 27px;
}

.footer {
  margin: 0 auto;
  margin-top: 60px;
  color: #bbb;
}

@media (max-width: 767px) {
  body {
    text-align: center;
  }

  .progress-button {
    float: none !important;
  }
}
