.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 45%;
  min-width: 250px;
  margin: 10px;

  button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 250px;
    height: 70px;
    border: 2px solid #1ECD97;
    border-radius: 40px;
    background: transparent;
    color: #1ECD97;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;

    &:hover {
      background-color: #1ECD97;
      color: #fff;
    }

    &:focus {
      outline: none;
    }
  }

  span {
    -webkit-transition: opacity 0.3s 0.1s;
    transition: opacity 0.3s 0.1s;
  }

  svg {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;

    path {
      opacity: 0;
      fill: none;
    }

    .progress-circle path {
      stroke: #1ECD97;
      stroke-width: 5;
    }
  }
}

.loading.progress-button button {
  width: 70px;
  border-width: 5px;
  border-color: #ddd;
  background-color: transparent;
  color: #fff;
}

.loading.progress-button span {
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
  opacity: 0;
}

.success.progress-button button,
.error.progress-button button {
  -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}

.success.progress-button button {
  border-color: #1ECD97;
  background-color: #1ECD97;
}

.error.progress-button button {
  border-color: #FB797E;
  background-color: #FB797E;
}

.loading.progress-button svg.progress-circle path {
  opacity: 1;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
