.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 45%;
  min-width: 250px;
  margin: 10px;

  button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 250px;
    height: 70px;
    border: 2px solid #1ECD97;
    border-radius: 40px;
    background: transparent;
    position: relative;
    color: #1ECD97;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;

    &:hover {
      background-color: #1ECD97;
      color: #fff;
    }

    &:focus {
      outline: none;
    }

    > span {
      opacity: 0;
    }
  }

  span {
    margin: auto;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.3s 0.1s;
    transition: opacity 0.3s 0.1s;

    &.default {
      opacity: 1;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;

    path {
      opacity: 0;
      fill: none;
    }

    .progress-circle path {
      stroke: #1ECD97;
      stroke-width: 5;
    }
  }

  &.loading {
    button {
      width: 70px;
      border-width: 5px;
      border-color: #ddd;
      background-color: transparent;
      color: #fff;
    }

    span {
      -webkit-transition: opacity 0.15s;
      transition: opacity 0.15s;
      opacity: 0;
    }
  }

  &.success {
    button {
      border-color: #1ECD97;
      background-color: #1ECD97;
    }

    span {
      opacity: 0;

      &.success {
        opacity: 1;
      }
    }
  }

  &.error {
    button {
      border-color: #FB797E;
      background-color: #FB797E;
    }

    span {
      opacity: 0;

      &.error {
        opacity: 1;
      }
    }
  }
}

.success.progress-button button,
.error.progress-button button {
  -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s;
  color: #fff;
}

.loading.progress-button svg.progress-circle path {
  opacity: 1;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
